.h100{
    height: calc(100vh - 64px);
}
button + button{
    margin-left: 5px;
}
.button-container{
    display: none;
}

.closeElem{
    position: relative;
    left: 38rem;
    color: red;

    transform: scale(1.7);
}

.deleteElement{
    display: inline;
}
.deleteElement.disable{
    display: none;
}
.eventForm{
    display: none;
}
.eventForm.active{
    display: flex;

}


li.eventModal:hover .button-container{
    display: inline;
    color: red;

}
li.eventModal:hover .button-container svg{
    transform: translate(0.5vw) scale(1.5);

}
svg+svg{
    margin-left: 0.5rem;
}